li{
    list-style: none;
}
.block_cate{
      position: relative;
    padding: 12px 30px;
    line-height: 36px;
    background-color: #2854e5;
    border-radius: 6px 6px 0px 0px;
}
.title_menu{
    display: flex;
    align-items: center;
    column-gap: 10px;
}