.container{
    width: 90%;
}
.block-cart{
    color: #fff;
    display: flex;
    align-items: center;
    padding: 7px;
    border: 2px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    position: relative;
}