.container{
    width: 90%;
}
a{
    display: block;
    text-align: left;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    padding: 0px 15px;
}
li:hover{
    cursor: pointer;
    
}
li{
    display: inline-block;
    position: relative;
}
.category-menu{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    column-gap: 10px;
}
.dropdown-menu{
   width:  33.3333333333%
}
.block-cate{
    position: relative;
  
    background-color: #2854e5;
    border-radius: 6px 6px 0px 0px;
}
