.header{
  background-color: #fff;
  box-shadow: 1px 1px 1px #aeacaa;
  height: var(--header-height);
  line-height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 80px;
}
.container{
  margin: 0 auto;
    width: 90%;
    height: 100px;
}
.bg-body-tertiary{
  height: 80px;
}
@media only screen and (max-width: 480px){
  .container{
    margin:none;
    width: 100%;
    height: 100%;
  }
  .header{
    background-color: #fff;
    box-shadow: none;
    height: none;
    line-height: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
  }
}